:root {
    --primary-text-color: #000;
    --light-text-color: #fff;

    --secondary-bg-color: #f9bb34;
    --primary-bg-color: #fff;
    --accent: #ff6600;
    --accent-dark: #e65c00;

    --animation: 0.3s ease-in-out;
}