<section class="section features" id="features">
    <div class="container">
        <h2 class="title">Наші переваги</h2>

        <ul class="features-list">
            <li class="features-item-wrapper">
                <svg width="24" height="24" class="features-item-icon">
                    <use href="/src/imgs/sprite.svg#icon-regular" />
                </svg>
                <p>Цілодобова доступність</p>
            </li>

            <li class="features-item-wrapper">
                <svg width="24" height="24" class="features-item-icon">
                    <use href="/src/imgs/sprite.svg#icon-time">
                </svg>
                <p>Оперативна подача</p>
            </li>

            <li class="features-item-wrapper">
                <svg width="24" height="24" class="features-item-icon">
                    <use href="/src/imgs/sprite.svg#icon-wallet">
                </svg>
                <p>Доступна ціна</p>
            </li>

            <li class="features-item-wrapper">
                <svg width="24" height="24" class="features-item-icon">
                    <use href="/src/imgs/sprite.svg#icon-services">
                </svg>
                <p>Безпека транспортування</p>
            </li>
        </ul>
    </div>
</section>