<footer class="page-footer">
    <div class="container">

        <div class="header-wrap">
            <a href="/" class="logo">
                <img src="./src/imgs/logo.png" alt="Логотип" width="100" height="100">
            </a>

            <div class="contacts-box">
                <a class="footer-phone" href="tel:+380975551511">097-555-15-11</a>
                <p>24/7 по всій території України</p>
            </div>

            <div class="social-box">
                <p>Ми в соцмережах</p>

                <ul class="social-list">
                    <li>
                        <a href="https://www.instagram.com/dyadya__maks/?igsh=amhjZjhsc2FqdjRy&utm_source=qr#"
                            target="_blank" rel="noopener nofollow">
                            <svg width="32" height="32">
                                <use href="/src/imgs/sprite.svg#icon-instagram">
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="https://t.me/eva_kuatordp" target="_blank" rel="noopener nofollow">
                            <svg width="32" height="32">
                                <use href="/src/imgs/sprite.svg#icon-telegram">
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.tiktok.com/@dyadya_maks_?_t=ZM-8votLUy4MXG&_r=1" target="_blank"
                            rel="noopener nofollow">
                            <svg width="32" height="32">
                                <use href="/src/imgs/sprite.svg#icon-tiktok">
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>
                <a class="wds-link" href="https://www.webdevsynergy.com.ua/uk" target="_blank"
                    rel="noopener noreferrer">
                    <span class="wds-text">Розроблено веб-студією</span>
                    <span class="wds-logo">WDS</span>
                    <span class="wds-text">WebDevSynergy</span>
                </a>
            </p>
        </div>
    </div>
</footer>