<section class="section hero" id="towTruckCall">
    <div class="container">
        <h1 class="visually-hidden">Виклик евакуатора</h1>

        <div class="hero-wrap">
            <div class="hero-thumb">

                <img class="hero-img" src="./src/imgs/hero.jpg"
                    alt="Евакуатор білого кольору перевозить сірий легковий автомобіль, припаркований біля сучасної будівлі з синьо-сріблястим фасадом.">
            </div>

            <div class="form-box">
                <div class="text-box">
                    <h2>Швидка евакуація авто</h2>

                    <p>Потрібна допомога на дорозі? Замовляйте евакуатор за хвилину</p>
                </div>

                <form class="hero-form" id="form-tg">

                    <label>Ваше ім’я:
                        <input type="text" id="name" name="name" required />
                    </label>

                    <label>Номер телефону:
                        <input type="tel" name="phone" required pattern="[0-9+()\- ]{10,20}" />
                    </label>

                    <button type="submit">Викликати евакуатор</button>
                </form>
            </div>
        </div>

    </div>
</section>