.hero {
    background: linear-gradient(to bottom,
            #ffffff 1%,
            rgba(249, 187, 52, 0.7) 10%,
            #f9bb34 30%,
            #f9bb34 100%);
}

.hero-wrap {
    @media screen and (min-width: 1158px) {
        display: flex;
        gap: 40px;
    }
}

.hero-thumb {
    border-radius: 16px;
    overflow: hidden;

    @media screen and (min-width: 1158px) {
        flex-shrink: 0;

        width: 600px;
        height: 500px;
    }
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-form-box {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        padding: 30px;
    }
}

.hero-text-box {
    text-align: center;
}

.hero-text-box h2 {
    margin-bottom: 20px;

    font-size: 32px;
}

.hero-text-box p {
    margin-bottom: 20px;

    font-size: 18px;
}