.page-header {
    background-color: var(--primary-bg-color);

    @media screen and (max-width: 767px) {
        background-color: aquamarine;
    }
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
}

.social-box {
    width: 140px;
}

.social-box p {
    margin-bottom: 12px;
}

.social-list {
    display: flex;
    justify-content: space-around;

    color: var(--accent);
}

.social-list svg {
    width: 32px;
    height: 32px;

    color: var(--accent);
    fill: var(--accent);

    transition: color var(--animation);
}

.social-list a:hover svg {
    color: var(--accent-dark);
}

.contacts-box {
    text-align: center;
}

.header-phone {
    font-size: 40px;
    color: var(--accent);

    transition: color var(--animation);

    &:hover,
    &focus {
        color: var(--accent-dark);
    }
}