.page-footer {
    background-color: var(--secondary-bg-color);

    @media screen and (max-width: 767px) {
        background-color: var(--secondary-bg-color);
    }
}

.footer-phone {
    font-size: 40px;
    color: var(--primary-text-color);

    transition: color var(--animation);

    &:hover,
    &focus {
        color: var(--accent-dark);
    }

    @media screen and (max-width:298px) {
        font-size: 28px;
    }

    @media screen and (max-width:220px) {
        font-size: 20px;
    }
}